<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epmus.mobile">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainMenuActivity" />
        <activity android:name=".AccountActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".ui.login.LoginActivity" />
        <activity
            android:name=".Messaging.MessagingActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".AlertsActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".StatisticsActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".program_fragment.ProgramActivity"
            android:parentActivityName=".MainMenuActivity" />

        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".program_fragment.NewProgramActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>

        <activity android:name=".Messaging.NewMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Messaging.LatestMessagesActivity" />
        </activity>
        <activity android:name=".Messaging.Chatlog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Messaging.LatestMessagesActivity" />
        </activity>

        <activity
            android:name="com.epmus.mobile.poseestimation.CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>